/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/fonts/glyphicons-halflings-regular.eot');
  src: url('../assets/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('../assets/fonts/glyphicons-halflings-regular.woff') format('woff'), 
       url('../assets/fonts/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('../assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


@font-face {
    font-family: 'proxima_novaregular_italic';
    src: url('../assets/proximanova-regularit-webfont.eot');
    src: url('../assets/proximanova-regularit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/proximanova-regularit-webfont.woff2') format('woff2'),
         url('../assets/proximanova-regularit-webfont.woff') format('woff'),
         url('../assets/proximanova-regularit-webfont.ttf') format('truetype'),
         url('../assets/proximanova-regularit-webfont.svg#proxima_novaregular_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../assets/proximanova-regular-webfont.eot');
    src: url('../assets/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/proximanova-regular-webfont.woff2') format('woff2'),
         url('../assets/proximanova-regular-webfont.woff') format('woff'),
         url('../assets/proximanova-regular-webfont.ttf') format('truetype'),
         url('../assets/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novaextrabold';
    src: url('../assets/proximanova-extrabld-webfont.eot');
    src: url('../assets/proximanova-extrabld-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/proximanova-extrabld-webfont.woff2') format('woff2'),
         url('../assets/proximanova-extrabld-webfont.woff') format('woff'),
         url('../assets/proximanova-extrabld-webfont.ttf') format('truetype'),
         url('../assets/proximanova-extrabld-webfont.svg#proxima_novaextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novalight';
    src: url('../assets/proximanova-light-webfont.eot');
    src: url('../assets/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/proximanova-light-webfont.woff2') format('woff2'),
         url('../assets/proximanova-light-webfont.woff') format('woff'),
         url('../assets/proximanova-light-webfont.ttf') format('truetype'),
         url('../assets/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novalight_italic';
    src: url('../assets/proximanova-lightit-webfont.eot');
    src: url('../assets/proximanova-lightit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/proximanova-lightit-webfont.woff2') format('woff2'),
         url('../assets/proximanova-lightit-webfont.woff') format('woff'),
         url('../assets/proximanova-lightit-webfont.ttf') format('truetype'),
         url('../assets/proximanova-lightit-webfont.svg#proxima_novalight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_rgbold_italic';
    src: url('../assets/proximanova-boldit-webfont.eot');
    src: url('../assets/proximanova-boldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/proximanova-boldit-webfont.woff2') format('woff2'),
         url('../assets/proximanova-boldit-webfont.woff') format('woff'),
         url('../assets/proximanova-boldit-webfont.ttf') format('truetype'),
         url('../assets/proximanova-boldit-webfont.svg#proxima_nova_rgbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novablack';
    src: url('../assets/proximanova-black-webfont.eot');
    src: url('../assets/proximanova-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/proximanova-black-webfont.woff2') format('woff2'),
         url('../assets/proximanova-black-webfont.woff') format('woff'),
         url('../assets/proximanova-black-webfont.ttf') format('truetype'),
         url('../assets/proximanova-black-webfont.svg#proxima_novablack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../assets/proximanova-bold-webfont.eot');
    src: url('../assets/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/proximanova-bold-webfont.woff2') format('woff2'),
         url('../assets/proximanova-bold-webfont.woff') format('woff'),
         url('../assets/proximanova-bold-webfont.ttf') format('truetype'),
         url('../assets/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novasemibold_italic';
    src: url('../assets/proximanova-semiboldit-webfont.eot');
    src: url('../assets/proximanova-semiboldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/proximanova-semiboldit-webfont.woff2') format('woff2'),
         url('../assets/proximanova-semiboldit-webfont.woff') format('woff'),
         url('../assets/proximanova-semiboldit-webfont.ttf') format('truetype'),
         url('../assets/proximanova-semiboldit-webfont.svg#proxima_novasemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../assets/proximanova-semibold-webfont.eot');
    src: url('../assets/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/proximanova-semibold-webfont.woff2') format('woff2'),
         url('../assets/proximanova-semibold-webfont.woff') format('woff'),
         url('../assets/proximanova-semibold-webfont.ttf') format('truetype'),
         url('../assets/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}