
* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;

}

body {
	padding:0px;
	margin:0px;
	
}

form {
	left: 50%;
    top: 50%;    
    margin-top: -11px;
    margin-left: -75px;
    width: 150px;
    height: 22px;
    text-align:center;
}

.searchB {
	background: url('search.png') no-repeat;
}


#results {
    float: left;
    width:50%;
    padding:20px 0px 0px 50px;
    p {
       font-family:proxima_novalight !important;
    }
    

    .classroom { 
        width:100%;
        float:left;
        margin-bottom:50px;
        .classPic {
            height:145px;
            width:145px;
            background-color: #666666;
            float:left;
        }
        .classinfo {
            margin-left:20px;
            float:left;
            .classname, .classsubject {
                color: #4db4d8;
            }
        }
    }
}
#header {
	height:100px;
	width:100%;
	padding: 20px 50px 0px 50px; 
	border-bottom: thin solid #bcbcbc;
}

#search {
	text-align:center
}

#main {
	width:80%;
	margin:auto;
	/*border:1px solid #bcbcbc;*/
}

#adminPanel {
    float:left;
	width:300px;
	h2 {
		font-family:proxima_novalight !important;
		background-color:#4db4d8;
		font-size:20px;
		color:white;
		font-weight:normal;
		vertical-align: middle;
		padding:25px 0px 25px 40px;
		margin:0px;
	}

	ul {
		list-style-type:none;
		padding:0px;
		margin:0px
	}

	li {
		height:30px;
		border-bottom: thin solid #bcbcbc;
		p {
			padding-left:40px;
			color: #666666;
			margin-top:15px;
			margin-bottom:15px;
			font-family:proxima_novalight !important;
		}
		p:hover {
			color: #bcbec0;
			cursor:pointer;
		}
	}
	
}

.logo {
    position:absolute;

	float:left;
	height:65px;
	width:140px;
    left:200px;
    top:20px
}